<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

</head>
<body style="background: rgb(231, 231, 231);">


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand h1" id="navbar-name"></span>
        <span class="navbar-brand h1"> <a class="link-secondary" href="/logout">Выйти</a></span>
    </div>
</nav>

<div class="conteiner-fluid" style="margin-top: 30px">

    <div class="row">
        <div class="col-2">
            <div class=" nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>


                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>

            </div>
        </div>

        <div class="col-10">
            <div class="h1">Панель администратора</div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                           aria-controls="nav-home" aria-selected="true">Таблица пользователей</a>

                        <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" aria-selected="false">Новый пользователь</a>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">

                            <div class="h4 border border-2" style="margin-top: 10px;padding: 10px">Все пользователи
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Возраст</th>
                                    <th scope="col">Почта</th>
                                    <th scope="col">Пароль</th>
                                    <th scope="col">Роль</th>
                                    <th scope="col">Изменить</th>
                                    <th scope="col">Удалить</th>
                                </tr>
                                </thead>
                                <tbody id="main-body">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                </tbody>
                            </table>


                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="h4 border border-2" style="margin: 0;padding: 10px">Добавить нового
                                пользователя
                            </div>
                            <div align="center" class="border border-2"
                                 style="background: white; margin: 0 ;padding: 10">
                                <form id = "addNewUser">

                                    <div class="form-row align-items-center">
                                        <div class="col-sm-3 my-1">
                                            <label class="sr-only" for="inlineFormInput"><strong>Имя</strong></label>
                                            <input type="text" class="form-control mb-2"
                                                   id ="name-value"
                                                   placeholder="Иван"/>

                                        </div>
                                        <div class="col-sm-3 my-1">
                                            <label class="sr-only"
                                                   for="inlineFormInputGroup"><strong>Фамилия</strong></label>
                                            <div class="input-group mb-2">
                                                <input  type="text" class="form-control"
                                                        id ="surname-value" placeholder="Иванов"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 my-1">
                                            <label class="sr-only"
                                                   for="inlineFormInputGroup"><strong>Возраст</strong></label>
                                            <div class="input-group mb-2">
                                                <input type="number" class="form-control"
                                                       id ="age-value" placeholder="0"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 my-1">
                                            <label class="sr-only"
                                                   for="inlineFormInputGroup"><strong>Почта</strong></label>
                                            <div class="input-group mb-2">
                                                <input type="text" class="form-control"
                                                       id="username-value" placeholder="username"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 my-1">
                                            <label class="sr-only"
                                                   for="inlineFormInputGroup"><strong>Пароль</strong></label>
                                            <div class="input-group mb-2">
                                                <input  type="password" class="form-control"
                                                        id="password-value" placeholder="password"/>
                                            </div>
                                        </div>

                                        <div class="col-sm-3 my-1">
                                            <p style="margin-top: 5px"><strong>Роль</strong></p>
                                            <select class="form-select" name="roles" id="roles-value" >
                                                <option value="2">USER</option>
                                                <option value="1">ADMIN</option>
                                            </select>

                                        </div>

                                        <div class="col-sm-3 my-1" style="margin-top: 20px">
                                            <button type="submit" class="btn btn-success">Добавить пользователя</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">


                    <div>

                        <div class="h4 border border-2" style="margin-top: 10px;">Информация о пользователе</div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Фамилия</th>
                                <th scope="col">Возраст</th>
                                <th scope="col">Логин</th>
                                <th scope="col">Пароль</th>
                                <th scope="col">Роль</th>

                            </tr>
                            </thead>
                            <tbody id="table-info">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="windowModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменить пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <form id = "myForm" action= "#" >
                    <div class="form-row align-items-center">
                        <div class="col-sm-7 my-1">
                            <label class="sr-only" for="modalName">Имя</label>
                            <input  name="name"  type="text" class="form-control mb-2" id="modalName">
                        </div>
                        <div class="col-sm-7 my-1">
                            <label class="sr-only" for="modalSurname">Фамилия</label>
                            <div class="input-group mb-2">
                                <input  name="surname" type="text" class="form-control" id="modalSurname">
                            </div>
                        </div>
                        <div class="col-sm-7 my-1">
                            <label class="sr-only" for="modalAge">Возраст</label>
                            <div class="input-group mb-2">
                                <input  name="age" type="number" class="form-control" id="modalAge">
                            </div>
                        </div>
                        <div class="col-sm-7 my-1">
                            <label class="sr-only" for="modalUsername">Почта</label>
                            <div class="input-group mb-2">
                                <input  name="username" type="email" class="form-control" id="modalUsername">
                            </div>
                        </div>

                        <div class="col-sm-7 my-1">
                            <label class="sr-only" for="modalPassword">Пароль</label>
                            <div class="input-group mb-2">
                                <input name="password" type="password" class="form-control" id="modalPassword">
                            </div>
                        </div>


                        <div class="col-sm-7 my-1">
                            <p style="margin-top: 5px"><strong>Роль</strong></p>
                            <select id ="modalRole" class="form-select" name="roles" style="margin-top: 5px">
                                <option value="2">USER</option>
                                <option value="1">ADMIN</option>
                            </select>

                        </div>


                        <hr>

                        <div class="col-sm-7 my-1 float-end">
                            <button type="submit" class="btn btn-primary" style="margin: 0">Изменить </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin: 0">Close</button>
                        </div>


                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script type="text/javascript"  src="js/admin.js"></script>
<script type="text/javascript"  src="js/user.js"></script>



</body>
</html>

